# Dependencias
node_modules/
package-lock.json

# Variables de entorno
.env
.env.local

# Compilados
dist/
build/

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp

# Cache
.cache/
.vite/
